@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

div#frame {
  
    text-align: center;
    margin-top: 21rem;
    
 }

h1 {
    font-family: 'pretendard';
    font-weight: 700;
    font-size: 3em ;
    color: (#121212);

    

}

